ion-content ion-toolbar {
    --background: translucent;
  }

  @font-face {
    font-family: 'Quicksand Extra Light';
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 200;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Quicksand Normal';
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Quicksand Medium';
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Quicksand Bold';
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Quicksand Extra Bold';
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 800;
  }

  .login-shape-one {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  
  .login-shape-two {
    position: absolute;
    left: 0; bottom: 5%;
    height: 30%;
  }

  .login-shape-three {
    margin: auto;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    width: 50%;
  }

  .return-icon {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .top-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-container, .heading, .sub-heading {
    z-index: 1;
  }

  .heading {
    display: block;
    margin-bottom: 4px;

    font-family: 'Quicksand Bold';
    font-size: 24px;
  }

  .sub-heading {
    font-family: 'Quicksand Bold';
    font-size: 14px;
  }
  
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .title-text {
    font-family: 'Quicksand Bold';
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #333;
  }

  .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input-field {
    width: 100%;
    border: 0;
    margin-top: 12px;
    padding: 8px 24px;
    border: 2px solid #ccc;
    border-radius: 18px;
    outline: none;

    font-family: 'Quicksand Bold';
    font-size: 14px;
    color: #333;
  }

  .btn {
    width: 100%;
    height: 40px;
    font-family: 'Quicksand Bold';
  }

  